$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
.on {
	background-color: green;
}

.name {
	font-weight: bold;
}

.controls {
	float: right;
}

.form {
	text-align: left;
}

ul {
	list-style-type: none;
}
